doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Главная страница"
    body
        script(src='./main.js')
        header.header
            img.ellipse(src="./svg/Ellipse_header.svg/")
            img.letterInsideEllipse(src="./svg/letter_inside_Ellipse.svg")
            button.privateBanking PRIVATE BANKING
            button.aboutBank о банке
            button.officesAndATMs офисы и банкоматы
            button.lang en
            button.number +7 495 956 86 26
            button.privateClients Частным клиентам
            button.coopClients Корпоративным клиентам
            button.marketService Услуги на рынке ценных бумаг
        img.line(src="./svg/line.svg")
        main
            h1
                p.p_1 Центр для успешных инвестиций
                p.p_2 Вы сможете выплатить банковский долг, даже в случае неблагоприятных жизненных обстоятельств.
                button.request Подать заявку
                img.img_1(src="./img/internet-banking 1.png")
                img.ellipseUnactive(src="./svg/Ellipse_unactive.svg")
                img.ellipseUnactive2(src="./svg/Ellipse_unactive.svg")
                img.ellipseActive(src="./svg/Ellipse_active.svg")
            h2
                p.p_favours Услуги на рынке ценных бумаг
                div.firstFavour
                    p.brokerService брокерское обслуживание
                    p.personalService Персональное брокерское обслуживание в банке
                    p.freeInput Бесплатный ввод и вывод денежных средств <br> (российские рубли в наличной <br> и безналичной форме)
                div.secondFavour